<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DataCenterMapping" type="DacIEServiceCli.DataCenterMappingSection, DacIESvcCli"/>
  </configSections>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="IESvcCliBinding" maxReceivedMessageSize="65536">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
          </security>
          <readerQuotas maxArrayLength="16384" maxBytesPerRead="4096" maxDepth="32" maxNameTableCharCount="16384" maxStringContentLength="65536" />
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <DataCenterMapping>
    <DataCenters>
      <add dns="CH" name="North Central US" endpoint="https://ch1prod-dacsvc.azure.com/DACWebService.svc"/>
      <add dns="SN" name="South Central US" endpoint="https://sn1prod-dacsvc.azure.com/DACWebService.svc"/>
      <add dns="DB" name="North Europe" endpoint="https://db3prod-dacsvc.azure.com/DACWebService.svc"/>
      <add dns="AM" name="West Europe" endpoint="https://am1prod-dacsvc.azure.com/DACWebService.svc"/>
      <add dns="HK" name="East Asia" endpoint="https://hkgprod-dacsvc.azure.com/DACWebService.svc"/>
      <add dns="SG" name="Southeast Asia" endpoint="https://sg1prod-dacsvc.azure.com/DACWebService.svc"/>
      <add dns="BL" name="East US" endpoint="https://bl2prod-dacsvc.azure.com/DACWebService.svc"/>
      <add dns="BY" name="West US" endpoint="https://by1prod-dacsvc.azure.com/DACWebService.svc"/>
    </DataCenters>
  </DataCenterMapping>
</configuration>

